.resume-section {
    padding: 20px 0px 0px 0px;
    border-bottom: 1px solid #999;
}

.resume-section * {
    padding: 0px;
}

.resume-header {
    padding-bottom: 20px;
    text-align: center;
}

.resume-header span{
    width: 200%;
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    text-transform: uppercase;
    word-spacing: 0.5em;
    line-height: 0.8em;
    transform:scale(0.5,1);
    -webkit-transform:scale(0.5,1);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

@media (min-width: 768px){
    .resume-header span{
        text-align: left;
        word-spacing: normal;
    }
}
