---
layout: default
---
{% include header.html %}
<article class="page-content">
	<!-- nice business card like information -->
	<div class="col-xs-12 text-center" style="font-size: 0.8em; padding: 0px 15px 30px 15px;">
	  <div class="col-xs-12">
		<img src="{{ '/assets/img/' | append: site.data.resume.profile.image | prepend: site.baseurl }}" style="width: 100px; border: 1px solid; border-radius: 100%; padding: 3px;" />
	  </div>
	  <div class="col-xs-12">
		<i class="fa fa-globe"></i> {{ site.data.resume.profile.place }}, {{ site.data.resume.profile.country }} <i class="fa fa-globe"></i>
	  </div>
	  <div class="col-xs-12">
		<i class="fa fa-phone"></i> {{ site.data.resume.profile.phone }} <i class="fa fa-flip-horizontal fa-phone"></i>
	  </div>
	  <div class="col-xs-12">
		<i class="fa fa-envelope-o"></i> {{ site.data.resume.profile.mail }} <i class="fa fa-envelope-o"></i>
	  </div>
	  <div class="col-xs-12">
		<i class="fa fa-calendar"></i> Last Updated : {{ site.data.resume.last_updated | date_to_string }} <i class="fa fa-calendar"></i>
	  </div>
	</div>
</article>

<!-- begin Experience -->
<section class="content-section">
	<header class="section-header">
		<h2>Experience</h2>
	</header>
</section>
<!-- end Experience -->
